---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • author : {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">{% if page.tags %}tag : {% for tag in page.tags %} <span style="color:green;"> {{tag}} / </span> {% endfor %} {% else no tag %}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <br><br>
  <p class="contact" style="text-align: center;">
  	{% if page.previous %}
  	<a href="{{ page.previous.url | prepend: site.baseurl }}"><= 이전글 </a>
  	{% endif %}
  	<span>|</span>
  	{% if page.next %}
  	<a href="{{ page.next.url | prepend: site.baseurl }}"> 다음글 =></a>
  	{% endif %}
  </p>
  {% include comment.html %}

</div>
