---
layout: default
---
<div class="post">

  <div id="img-modal"class="image-modal">
    <span onclick="imgModalClose();">X</span>
    <img id="img-modal-content">
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • author : {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">{% if page.tags %}tag : {% for tag in page.tags %} <span class="post-tag">{{tag}} </span> {% endfor %} {% else no tag %}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <br><br>
  <p class="contact" style="text-align: center;">
  	{% if page.previous %}
  	<a href="{{ page.previous.url | prepend: site.baseurl }}">prev post</a>
  	{% endif %}
  	<span>|</span>
  	{% if page.next %}
  	<a href="{{ page.next.url | prepend: site.baseurl }}">next post</a>
  	{% endif %}
  </p>
  {% include comment.html %}

</div>
